@import "font.css";


/*
    Native tag stylesheets 
*/
header {
    font-size: 28px;
    text-decoration: underline;
    text-decoration-color: #02bbcc
}
/*
    Id stylesheets
*/
/*
    Class stylesheets
*/
.dark-bg {
    background-color: #1a1a1a;
    color: #fff;
}

